extends layout

block content
  //- div(id='nav')
  //-   div(class='ad1')
  //-   div(class='ad2')
  //-   div(class='ad3')
  //-   div(class='ad4')

  div(id='header') 
    div(class='image')
    div(id='name')
      h1 Marcin Ruman
  div(id='main')
    div(class='title') 
      h1(id='about1') ABOUT ME
    div(class='content')
      h2(id='about2') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  div(id='science')
    div(class='title') 
      h1 EDUCATION
    div(class='content')
      h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  div(id='languages')
    div(class='title') 
      h1(id='ex') EXPIRIENCE
    div(class='language')
      h2 HTML5 & CSS3
      div(class='circle')
      div(class='circle')
      div(class='circle')
      div(class='circle')
      div(class='circle-white')
    div(class='language')
      h2 Java-Script ES6
      div(class='circle')
      div(class='circle')
      div(class='circle')
      div(class='circle-white')
      div(class='circle-white')
    div(class='language')
      h2 Node-JS
      div(class='circle')
      div(class='circle')
      div(class='circle-white')
      div(class='circle-white')
      div(class='circle-white')
    div(class='language')
      h2 Express
      div(class='circle')
      div(class='circle')
      div(class='circle-white')
      div(class='circle-white')
      div(class='circle-white')
    div(class='language')
      h2 MongoDB
      div(class='circle')
      div(class='circle')
      div(class='circle-white')
      div(class='circle-white')
      div(class='circle-white')
    
  div(id='links')
    div(class='title') 
      h1 REPOSITORIES AND CONTACT
    div(class='content')
      h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  