extends layout

block content
  div(id='nav')
    div(class='ad1')
    div(class='ad2')
    div(class='ad3')
    div(class='ad4')

  div(id='header') 
    div(class='image')
    div(id='name')
      h1 Marcin Ruman
  div(id='main')
    div   
  